
@{
    ViewData["Title"] = "elFinder 2.0";
}

<p style="padding:20px 0px;">
    ElFinder 2.0
</p>

<!-- Element where elFinder will be created (REQUIRED) -->
<div id="elfinder"></div>


@section Scripts {
    <!-- jQuery and jQuery UI (REQUIRED) -->
    <link rel="stylesheet" type="text/css" href="/Content/css/jquery-ui.css">
    <script src="/Content/js/jquery.min.js"></script>
    <script src="/Content/js/jquery-ui.min.js"></script>

    <!-- elFinder CSS (REQUIRED) -->
    <link rel="stylesheet" type="text/css" href="/Content/css/elfinder.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/theme.css">

    <!-- elFinder JS (REQUIRED) -->
    <script src="/Content/js/elfinder.full.js"></script>

    <!-- elFinder translation (OPTIONAL) -->
    <script src="/Content/js/i18n/elfinder.fr.js"></script>

    <!-- elFinder initialization (REQUIRED) -->
    <script type="text/javascript" charset="utf-8">

			// Documentation for client options:
			// https://github.com/Studio-42/elFinder/wiki/Client-configuration-options
			$(document).ready(function() {

				$('#elfinder').elfinder({
					url : "/ELFinderConnector",
					useBrowserHistory: false,
					rememberLastDir: true
					//lang: 'fr'                    // language (OPTIONAL)
				});

	        });

    </script>
}
